body { 
    font: 3rem Helvetica, Arial;
    background: url('line_background.png') no-repeat center center fixed;
    background-size: 100%;
}

.fa-6x {
    font-size: 6rem;
}

#header {
    background-color: #2A364D;
    height: 10vh;
    line-height: 10vh;
    text-align: center;
    position: fixed;
    z-index: 100;
    top: 0;
    width: 100%;
    color: white;
}

#messages { 
    padding: 10px;
    height: 80vh;
    overflow: scroll;
    padding-top: 10vh;
    text-align: right;
}

/* CSS for chat. Reference: https://saruwakakun.com/html-css/reference/speech-bubble#section7 */
.balloon6 {
    width: 100%;
    margin: 10px 0;
    overflow: hidden;
}

.balloon6 .faceicon {
    float: left;
    margin-right: -50px;
    width: 40px;
}

.balloon6 .faceicon img{
    width: 100%;
    height: auto;
    border-radius: 50%;
}
.balloon6 .chatting {
    width: 100%;
    text-align: left;
}
.says {
    display: inline-block;
    position: relative; 
    margin: 0 0 0 12vw;
    padding: 1rem;
    max-width: 60vw;
    border-radius: 12px;
    background: #edf1ee;
}

.says:after {
    content: "";
    display: inline-block;
    position: absolute;
    top: 3px; 
    left: -30px;
    border: 8px solid transparent;
    border-right: 30px solid #edf1ee;
    -ms-transform: rotate(35deg);
    -webkit-transform: rotate(35deg);
    transform: rotate(35deg);
}
.says p {
    margin: 0;
    padding: 0;
}

/* Something I said */
.mycomment {
    margin: 10px 0;
}
.mycomment p{
    display: inline-block;
    position: relative; 
    margin: 0 20px 0 0;
    padding: 1rem;
    max-width: 60vw;
    text-align: left;
    border-radius: 12px;
    background: #30e852;
}

.mycomment p:after {
    content: "";
    position: absolute;
    top: 3px; 
    right: -30px;
    border: 8px solid transparent;
    border-left: 30px solid #30e852;
    -ms-transform: rotate(-35deg);
    -webkit-transform: rotate(-35deg);
    transform: rotate(-35deg);
}


* { margin: 0; padding: 0; box-sizing: border-box; }
form { 
    background: #F7F7F7; 
    padding: 1rem; 
    position: fixed; 
    bottom: 0; 
    width: 100%; 
}
form input { 
    border: 0; 
    padding: 1.5rem 1rem; 
    width: 85%; 
    margin-right: 0%; 
}
form button { 
    width: 15%; 
    background: #4c82ba; 
    border: none; 
    padding: 1.5rem 1rem; 
    color: #F7F7F7; 
}
